<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="text-center flex-grow-1">
            <h1 class="col-xs-8 text-center">MovieDatabase</h1>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="text-center flex-grow-1">
            <h3 class="col-xs-8 text-center">Creator's favorites</h3>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="row">
    
    <div class="col-2"></div>
    
    <div class="card text-center col-3" style="width: 18rem;">
    
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Harry Potter and the Goblet of Fire</h5>
            
    
        </div>
    </div>
    
    <div class="col-2"></div>

    <div class="card text-center col-3" style="width: 18rem;">
    
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/rmGLCH63IBByBx5SCbsn0pNWHdg.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Spider-Man 3</h5>
            
    
        </div>
    </div>

    <div class="col-2"></div>
    
</div>



